.flat-title {
    background-color: #f8f9fa;
    margin-bottom: 19px;
    box-shadow: 4px 4px 4px #e6e3e3;

}
.flat-description {
    background-color: #f8f9fa;
    margin-bottom: 19px;
    box-shadow: 4px 4px 4px #e6e3e3;

}

.flat-details {
    background-color: #f8f9fa;
    margin-bottom: 19px;
    box-shadow: 4px 4px 4px #e6e3e3;

}
